
* Body {
    box-sizing: border-box;
    background-color: coral;

     
}


/* .body {
    font-size: 1em;
    text-align: center;
	font-family: 'Varela Round', sans-serif;

  
    } */


header {
    width: 100%; 
     /* background: url() no-repeat 50% 50% / cover; */
   
}

.flex-column {
  border: 5px solid cyan;
}



/* 
body { 
 background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-size: cover;
  font-family: sans-serif;
} */

/* .div {
 border-color: cyan;
} */


/* #text {
  max-width: 350px;
  text-align: center;
  padding: 30px 30px 12px 30px;
  color: #fff;
  background-color: #7766d7;
  border: 4px solid #9387f2;
  border-radius: 5px;
} */
#text h1 {
  margin: 0 0 15px 0;
  text-transform: uppercase;
}
#text img {
  max-width: 300px;
  border: 6px solid #fff;
  border-radius: 150px;
}
#text ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#text li {
  padding: 15px 0;
  font-size: 18px;
}
#text li:not(:last-of-type) {
  border-bottom: 1px solid #fff;
}





/* * Body {
    box-sizing: border-box;
    background: coral;

     
}


.body {
    font-size: 1em;
    text-align: center;
	font-family: 'Varela Round', sans-serif;
    background-color: coral;

  
    }





.flex-container {
    padding: 75px; 
    margin-top: 30px; 
    font-size: 15px;
    text-align: center;
    color:blueviolet;

} 


.flex-row {
    font-size: 20px;
    color: blueviolet;
} */



/*==================================
      Media queries
======================================*/
/* 

 @media only screen and (min-width: 320px) and (max-width: 600px) { 

body {
    background-color: #663399;
    
}


.header nav button a {
     font-size: 12px;  
     padding: 0; 
     margin: 0;  
} 

.navigation {
  background: #00fa9a;
  opacity: 0.8;
 
}

nav button {
   
    padding: 2px;
    margin: 10px auto;
    width: 100%;
   
}

 

.col-2 {
    background-color: #663399;
}

}

 @media only screen and (min-width: 800px) { 

body {
    background-color: #663399;
    
}
 
.header nav button a {
     font-size: 17px; 
     padding: 5px 5px; 
 
    

}

.column-1 {
     font-size: 1.5em;
 }
    
}

@media only screen and (min-width: 1200px) {


.header nav button a {
     font-size: 25px; 
     padding: 8px 8px; 
 
    

} */
 

