* Body {
    box-sizing: border-box;
    


     
}

body {
     background: #00FFFF; 
}


header {
    text-align: center;
    font-size: 50px; 
}
button {
    
    padding-left: 20px;
    padding-right: 20px; 
    border-radius: 10px;
    margin: 5px;

}


.form-search,
button,
input {
    text-align: center;
    /* background: #00FFFF; */
    margin: 20px; 
}



.card {
    text-align: center;
    font-size: 30px;
    background: linear-gradient(purple, pink);
    color: cyan; 
   
    
    }
h1 {
    text-align: center;
}

#recipeform {
    margin: 100px; 
    text-align: center;

}












/*==================================
      Media queries
======================================*/
/* 

 @media only screen and (min-width: 320px) and (max-width: 600px) { 

body {
    background-color: #663399;
    
}


.header nav button a {
     font-size: 12px;  
     padding: 0; 
     margin: 0;  
} 

.navigation {
  background: #00fa9a;
  opacity: 0.8;
 
}

nav button {
   
    padding: 2px;
    margin: 10px auto;
    width: 100%;
   
}

 

.col-2 {
    background-color: #663399;
}

}

 @media only screen and (min-width: 800px) { 

body {
    background-color: #663399;
    
}
 
.header nav button a {
     font-size: 17px; 
     padding: 5px 5px; 
 
    

}

.column-1 {
     font-size: 1.5em;
 }
    
}

@media only screen and (min-width: 1200px) {


.header nav button a {
     font-size: 25px; 
     padding: 8px 8px; 
 
    

} */
 

